
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(10,10,10);
}
.container
{
    height: 100vh;
}
section
{
    background-image: url(./assests/main.jpg);
    height: 100%;
    background-size: cover;

}
nav
{
    
 height: 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.logo
{
    height: 100px;
    background: none;
    margin-left: 20px;
    
    
}
.login-btn
{
font-size: 20px;
background: none;
font-weight: 100px;
color: white;
margin-right: 30px;
}

.hero_section{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero_section p
{
    margin-top: 50px;
    color: rgb(19, 228, 19);
}
.hero_section img
{
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero_section h2
{
    color: whitesmoke  ;
    text-align: center;
}
.get-btn
{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 500px;
    background-color: rgb(19, 228, 19)  ;
}
.hero_section a
{
    color: grey;
}
.hero_section h3
{
    color: whitesmoke;
    margin-top: 20px;
}
.second_section
{
    height: 105vh;
    background-color:rgb(29, 28, 28)
}
.text
{
    display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}
.text h3
{
    margin: 20px 20px;
    color: rgb(22, 243, 22);
} .text h1
{
    margin-bottom: 20px;
    color: whitesmoke;
}
.text p
{
    text-align: center;
    color: whitesmoke;
}
.cards 
{
        display: flex;
    
    
}
.cards div
{
    height: 450px;
    width: 280px;
    background-size: cover;
    padding: 20px;
    margin: 10px;
    
  color: whitesmoke;
}
.card-one
{
    background-image: url(./assests/cards-one.jpg);
}
.card-two
{
   background-image: url(./assests/cards-two.jpg);
}
.card-three
{
    background-image: url(./assests/cards-three.jpg);
}
.card-four
{
    background-image: url(./assests/cards-four.jpg  );
}
/* usless section start*/
.usless_section
{
    height: 100vh;
    
    text-align: center;
    padding: 250px;
    background-color: black;
    color: whitesmoke;
}
.usless_section h4
{
    color: rgb(46, 240, 46);
}
.usless_section h1
{
    margin: 25px 25px;
    font-size: 250%;
}
.usless_section h3 a
{

    color: whitesmoke;
}
.usless_section p
{
    margin-bottom: 20px;
}
/* sport section*/
.sport_section
{
    background-image: url(./assests/sport.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:50px; 
}
.sport_section span
{
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    
}
.sport_section .d2{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    padding-left:30px;
    
}
.plan_container
{
    height: 200vh; 
    background-color: rgb(34, 33, 33);
    width: 1000px;
    margin: 0px auto;
    color: whitesmoke;
}
.plan_section
{
   
    justify-content: center;
    text-align: center;
        padding-top: 70px;
        padding-bottom: 40px;
}
.plan_section h1
{
    font-size: 50px; 
    margin-bottom: 20px;
}
.plan_1 
{
    margin-left: 110px;
    margin-top: 50px;
    display: flex;
}
.plan_1 h3
{
    margin-left: 40px;
}
.plan_2
{
    margin-top: -50px;
    justify-content: center;
    text-align: center;
}
.plan_2 button
{
    border: none;
    height: 30px;
    width: 200px;
background-color: rgb(66, 243, 66);
border-radius: 15px;

}
.plan_2 .btn2
{
    background-color: whitesmoke;
}
.plan_3
{
justify-content: center;
text-align:right;
margin-right: 200px;
margin-top: -100px;
}
.plan_3 button
{
    height: 50px;
    width: 200px;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}






/* responsive*/
@media 
{
 max-width: 768px;   
}